body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

#calculator {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    border: 1px solid #ccc;
}

#calculator .row {
    margin-bottom: 10px;
}

#calculator .row span:first-child {
    width: 50px;
    display: inline-block;
}

#calculator .row input[type=number] {
    width: 100px;
}

#calculator button {
    display: block;
    width: 100%;
    height: 30px;
}

#result-row {
    border: 4px solid #ccc;
}


